# This will run on Travis' 'new' container-based infrastructure
sudo: false

# Blacklist
branches:
  except:
    - gh-pages

# Environment variables
env:
  global:
    - GH_REPO_NAME: algorithmic-problems
    - DOXYFILE: $TRAVIS_BUILD_DIR/docs/algorithmic-problems
    - GH_REPO_REF: github.com/jaskirat1208/algorithmic-problems.git

# Install dependencies
addons:
  apt:
    packages:
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz

# Build your code e.g. by calling make
script:
  - make docs

# # Generate and deploy documentation
# after_success:
#   - cd $TRAVIS_BUILD_DIR
#   - chmod +x deploy.sh
#   - ./deploy.sh

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: bin/docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: main